apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base/
patchesStrategicMerge:
- deployment.yml
- ingress.yaml
images:
- name: schoolofdevops/vote:v4
  newName: haydercyber/vote
  newTag: main-b6805040-1650354972 # {"$imagepolicy": "flux-system:vote:tag"}
