apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base/
patchesStrategicMerge:
- deployment.yml
- ingress.yaml
replicas:
- name: vote 
  count: 2
images:
- name: schoolofdevops/vote
  newTag: v4
commonLabels:
  project: instavote
  env: staging
commonAnnotations:
  supported-by: "haider.raed@taifco.net"
configMapGenerator:
- name: vote
  literals: 
  - OPTION_A=FluxCD
  - OPTION_B=ArgoCD